* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

#navbar {
    background: #f9f9f9;
}

#logo {
    font-size: 36px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #ffa500;
}

.navbar-toggler span {
    color: #ffa500;
}

.navbar-nav {
    margin-left: 20px
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0 5s ease;
}

.nav-item .nav-link:hover {
    background: #ffa500;
    color: white;
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}

.home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(images/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    text-align: center;
    padding-top: 200px;
}

.home .content h5 {
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}

.home .content h1 {
    color: white;
    font-size: 71px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.changecontent::after {
    content: '';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetxt 10s infinite linear;

}

@keyframes changetxt {
    0% {
        content: "France";
    }

    15% {
        content: "Spain";
    }

    30% {
        content: "Italy";
    }

    45% {
        content: "Brazil";
    }

    60% {
        content: "china";
    }

    75% {
        content: "India";
    }

    90% {
        content: "Turkey";
    }

    100% {
        content: "Mexico";
    }


}

.home .content p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.home .content a {
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 4px;
    transition: 0.5s;
    text-decoration: none;
}

.home .content a:hover {
    background: #ffa500;
    color: white;
}

.book .title span {
    color: #ffa500;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.book .title h2 {
    padding: 25px;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.book .card img {
    height: 550px;
    width: 100%;
    margin: auto;
}

.book .card {
    height: 550px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book .row {
    margin-top: 30px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book form textarea {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black
}

.book form .submit {
    margin-top: 15px;
    background: orange;
    color: #fffefc;
    width: 160px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;

}

.book form .submit:hover {
    width: 170px;
}

.packages {
    width: 100%;

}

.packages .title span {
    color: #ffa500;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.packages .title h2 {
    padding-top: 25px;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.packages .card {

    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 5px -6px black;

}

.packages .card img {
    border-radius: 5px;

}

.packages .card-body {
    background: transparent;
}

.packages .card-body h3 {
    color: rgb(0, 0, 0);
    font: 25px;
    font-weight: 600;


}

.packages .card-body p {
    font-size: 15px;


}

.checked {
    color: #ffa500;
}

.star i {
    font-size: 15px;
}

.packages .card-body h6 {
    font-size: 20px;

}

.packages .card-body a {
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}

.services {
    width: 100%;

}

.services .title span {
    color: #ffa500;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.services .title h2 {
    padding: 25px;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 15px;
}

.services .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}

.services .card i {
    color: #ffa500;
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
}

.services .card-body h3 {
    font-weight: 600;
}

.services .card-body {
    text-align: center;
}

.gallary {
    margin-top: 50px;
}

.gallary .title span {
    color: #ffa500;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.gallary .title h2 {
    padding: 25px;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 15px;
}

.gallary .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.gallary .card img {
    border-radius: 10px;
    transition: 0.5s;
}

.gallary .card img:hover {
    transform: scale(1.1);
}

.about .title span {
    color: #ffa500;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.about .title h2 {
    padding: 25px;
    text-align: center;
    color: #000000;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 15px;
}

.about {
    padding: 15px
}

.about .card img {
    border-radius: 10px;

}

.about h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.about p {
    font-weight: 500;
}

#about-btn {
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}

#about-btn:hover {
    width: 170px;
}

#footer {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;

}

#footer h1 {
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}

#footer h1 span {
    color: #ffa500;
}

.social-links i {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

#footer .credit a {
    text-decoration: none;
    color: #000000;
}

.social-links i:hover {
    background: #ffa500;
}

@media(max-width:768px) {
    .home {
        height: 60vh;
    }
    .book .card img {
        height: 450px;
       
    }
    #footer{
        margin-top: 50px;

}

@media (max-width:576px) {
    .home {
        height: 60vh;
    }
    .home .content h5 {
        font-size: 25px;
    }

    .home .content h1 {
        font-size: 38px;
    }

    .home .content p {
        font-size: 12px;
    }
    .book .card {
        height: 450px;
       
    }
    #footer{
        margin-top: 0;
    }
}